.news {
    padding: 40px 0;
}

.news__title {
    color: red;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.news__subtitle {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: 25px;
}

.news__item {
    padding: 0 30px;
    border-bottom: 5px solid #04ADC0;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
}

.news__item:hover {
    border-bottom: 5px solid red;
    transition: all 0.3s linear;
}

.news__item-title {
    font-weight: bolder;
    font-size: 20px;
    margin-top: 20px;
}

.news__item-text {
    text-align: justify;
    font-size: 20px;
}

.all-news-link {
    display: block;
    text-decoration: none;
    margin: 30px auto 0;
    text-align: center;
    font-weight: bolder;
    width: 40%;
    background-color: #04ADC0;
    color: white;
    border: 0;
    border-radius: 30px;
    padding: 12px 30px;
}

.all-news-link:hover {
    background-color: #02385A;
    color: white;
    transition: all 0.2s linear;
}