html, body {
    font-size: 16px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    padding: 85px 0;
}

.bg-dark-blue {
    background-color: #02385A;
}

.bg-light-blue {
    background-color: #04ADC0;
}

.bg-white {
    background-color: #c7c7c7;
}

.bg-red {
    background-color: red;
}

[aria-current="page"] {
    color: red;
}

@media (min-width: 0px) and (max-width: 575.98px) {
    section {
        padding: 40px 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    section {
        padding: 70px 0;
    }
}










