html, body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bg-dark-blue {
    background-color: #02385A;
}

.bg-light-blue {
    background-color: #04ADC0;
}

.bg-white {
    background-color: #ececec;
}

.bg-grey {
    background-color: #e1e1e1;
}

.bg-red {
    background-color: red;
}










