.bg-dark-blue {
  background-color: #02385A;
}

.bg-light-blue {
  background-color: #04ADC0;;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: #e9ecef;;
}

.bg-dark-red {
    background-color: #a20f0f;
}

.bg-red {
  background-color: red;
}
