.contacts__card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px auto;
    align-items: flex-start;
    padding: 20px;
    width: 85%;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.contacts__card-avatar {
    padding-left: 20px;
}

.contacts__card-avatar img {
    width: 120px;
    height: 120px;
    background-size: cover;
    border-radius: 50%;
}

.contacts__card-mail-btn {
    display: block;
    text-decoration: none;
    color: red;
    font-size: 1.1rem;
    font-weight: bolder;
    border: 2px solid red;
    border-radius: 30px;
    margin-top: 15px;
    text-align: center;
    transition: all 0.2s linear;

}

.contacts__card-mail-btn:hover {
    text-decoration: none;
    color: white;
    background-color: red;
    border: 2px solid red;
    border-radius: 30px;
    transition: all 0.2s linear;
}

.contacts__card__inner {
    padding-left: 40px;
    padding-top: 15px;
}

.contacts__card-title {
    font-size: 1.5rem;
}

.contacts__card-subtitle {
    font-size: 1.1rem;
    font-weight: bolder;
    opacity: 0.8;
    padding: 0;
    margin: 0;
}

@media (min-width: 0px) and (max-width: 575.98px) {
    .contacts__card {
        width: 80%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .contacts__card {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .contacts__card {
        width: 60%;
    }
}
