section {
    padding: 50px 0
}

.category-article {
    color: red;
    font-size: 1.1rem;
    font-weight: bolder;
    margin: 0;
}

.article-title {
    font-weight: bolder;
    font-size: 2.8rem;
    padding: 0;
    margin-bottom: 20px;
}

.artile-text {
    font-size: 1.2rem;
    opacity: 0.9;
}

.article-img {
    float: right;
    width: 380px;
    height: 260px;
}

.article-img img {
    width: 100%;
    height: auto;
    margin: 10px;
}

.menu-accordion {
    margin-top: 50px;
    border-bottom: 2px solid #aeaeae;
}

.menu-title {
    padding-bottom: 15px;
    border-bottom: 2px solid #aeaeae;
}

.menu-accordion {
    margin: 30px auto;
}

.accordion {
    margin: 30px auto;
}

.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
    color: black;
    font-weight: bolder;
    font-size: 1.1rem;
    opacity: 0.8;
    letter-spacing: 2px;
    padding: 20px 10px;
}

.accordion-button:focus {
    border: none;
    outline: none;
    background-color: #f4f4f4;
    box-shadow: none;
}

.accordion-body {
    color: black;
    font-size: 1.1rem;
    opacity: 0.9;
    padding: 15px 10px 30px;
}

.downloads {
    margin-top: 50px;
}

.downloads__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 15px;
    border: 3px solid #e32424;
    cursor: pointer;
    margin: 18px auto;
    width: 90%;
    transition: all 0.2s linear;
}

.downloads__card:hover {
    transition: all 0.2s linear;
    box-shadow: -6px 6px 5px 0 rgba(34, 60, 80, 0.2);
}

.downloads__card-icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.downloads__card-icon img {
    background-size: cover;
    width: 100%;
    height: auto;
}

.downloads__card__inner {
    padding-left: 30px;
    padding-top: 20px;
}

.downloads__card-title {
    font-weight: bolder;
    font-size: 1.3rem;
}

.downloads__card-subtitle {
    font-weight: bolder;
    font-size: 1rem;
    opacity: 0.9;
}

.contacts {
    margin-top: 40px;
}

.contacts__card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px auto;
    align-items: flex-start;
    padding: 20px;
    width: 85%;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.contacts__card-avatar {
    padding-left: 20px;
}

.contacts__card-avatar img {
    width: 120px;
    height: 120px;
    background-size: cover;
    border-radius: 50%;
}

.contacts__card-mail-btn {
    display: block;
    text-decoration: none;
    color: red;
    font-size: 1.1rem;
    font-weight: bolder;
    border: 2px solid red;
    border-radius: 30px;
    margin-top: 15px;
    text-align: center;
    transition: all 0.2s linear;

}

.contacts__card-mail-btn:hover {
    text-decoration: none;
    color: white;
    background-color: red;
    border: 2px solid red;
    border-radius: 30px;
    transition: all 0.2s linear;
}

.contacts__card__inner {
    padding-left: 40px;
    padding-top: 15px;
}

.contacts__card-title {
    font-size: 1.5rem;
}

.contacts__card-subtitle {
    font-size: 1.1rem;
    font-weight: bolder;
    opacity: 0.8;
    padding: 0;
    margin: 0;
}


@media (min-width: 0px) and (max-width: 575.98px) {
    .contacts__card {
        width: 80%;
    }

    .downloads__card {
        width: 70%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .contacts__card {
        width: 80%;
    }

    .downloads__card {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .contacts__card {
        width: 60%;
    }

    .downloads__card {
        width: 65%;
    }
}