.page-header {
    padding: 30px 0 0;
}

.page-item__title-block__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.page-item__title-text {
    color: white;
}

.page-item__title__category {
    font-size: 1.1rem;
    font-weight: bolder;
}

.page-item__title {
    font-size: 3rem;
    font-weight: bolder;
}

.page-item__subtitle {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-right: 80px;
}

.page-img img {
    width: 330px;
    height: 330px;
}

.page-item__title-block__nav > ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

.nav-item {
    list-style: none;
    margin-right: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.1rem;
}

.page__inner {
    padding: 40px 0;
    text-align: center;
}

.page-btn {
    background-color: red;
    font-size: 1.1rem;
    color: white;
    padding: 6px 50px;
    border-radius: 30px;
    margin: 20px auto 0;
    transition: all 0.2s linear;
}

.page-btn:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
    transition: all 0.2s linear;
}

.page-title {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}

.page-subtitle {
    text-align: center;
    font-size: 1.3rem;
}

.page__inner-item {
    font-size: 1.2rem;
    text-align: justify;
    padding: 0 25px;
}

.page-insert {
    color: white;
}

.page-insert__inner {
    padding: 20px 140px;
}

.page-insert-text {
    font-size: 1.1rem;
}


.main-part__card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 60px;
}

.main-part__card-title {
    font-weight: bolder;
    font-size: 1.5rem;
}

.main-part__card-discription {
    font-size: 1.2rem;
    opacity: 0.8;
}

.main-part__card-img {
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
}

.main-part__card-img img {
    width: 550px;
    height: 400px;
    background-size: cover;
}

.info__item {
    width: 90%;
}

.card-info {
    border: none;
    padding: 20px;
    border-radius: 0;
}

.bg-dark-red {
    background-color: #7b0808;
}

.info__card-title {
    color: white;
    font-weight: bolder;
    font-size: 1.3rem;
    padding-bottom: 10px;
    text-align: center;
}

.info__card-title-dark-blue {
    color: #02385A;
}

.info__card-text {
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
    text-align: justify;
}

.info__card-text-dark-blue {
    color: #02385A;
}

.btn-info {
    display: block;
    font-size: 1.1rem;
    text-align: center;
    margin: 40px auto 10px;
    border-radius: 30px;
    width: 90%;
    padding: 8px 10px;
}

.btn-info-modify_1 {
    border: 2px solid white;
    color: white;
    background-color: #02385A;
    transition: all 0.2s linear;
}


.btn-info-modify_1:hover {
    color: #02385A;
    border: 2px solid white;
    background-color: white;
    transition: all 0.2s linear;
}

.btn-info-modify_2 {
    border: 2px solid #02385A;
    color: #02385A;
    background-color: white;
    transition: all 0.2s linear;
}

.btn-info-modify_2:hover {
    color: white;
    border: 2px solid #02385A;
    background-color: #02385A;
    transition: all 0.2s linear;
}

.btn-info-modify_3 {
    border: 2px solid white;
    color: white;
    background-color: #7b0808;
    transition: all 0.2s linear;
}

.btn-info-modify_3:hover {
    color: #7b0808;
    border: 2px solid white;
    background-color: white;
    transition: all 0.2s linear;
}

@media (min-width: 0px) and (max-width: 575.98px) {
    .page-item__subtitle {
        padding-right: 0;
    }

    .main-part__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }

    .main-part__card-img img {
        margin-top: 40px;
        width: 250px;
        height: 180px;
        background-size: cover;
    }

    .main-part__card-discription {
        font-size: 1rem;
    }

    .page-insert__inner {
        padding: 20px 80px;
    }

    .page-item__title-block__inner {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .page-item__subtitle {
        padding-right: 0;
    }

    .main-part__card-img img {
        margin-top: 40px;
        width: 250px;
        height: 180px;
        background-size: cover;
    }

    .main-part__card-discription {
        font-size: 1rem;
    }

    .page-insert__inner {
        padding: 20px 80px;
    }

    .page-item__title-block__inner {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .page-item__subtitle {
        padding-right: 30px;
    }

    .page-insert__inner {
        padding: 20px 80px;
    }

    .main-part__card-img img {
        margin-top: 50px;
        width: 450px;
        height: 300px;
        background-size: cover;
    }
}