.news__category {
    padding: 30px 0;
}

.news__category__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.news-category-btn {
    font-size: 1rem;
    font-weight: bolder;
    color: black;
    background-color: white;
    border: 2px solid white;
    padding: 7px 28px;
    margin: 5px 5px;
    transition: all 0.2s linear;
    cursor: pointer;
}

.news-category-btn:hover {
    color: white;
    background-color: red;
    transition: all 0.2s linear;
}

.all-btn {
    color: white;
    border: 2px solid black;
    background-color: black;
    transition: all 0.2s linear;
}

.all-btn:hover {
    color: white;
    border: 2px solid white;
    background-color: red;
    transition: all 0.2s linear;
}

.category-active {
    color: white;
    border: 2px solid white;
    background-color: red;
    transition: all 0.2s linear;
}

.top-news {
    color: white;
    padding: 60px 0;
}

.top-news-title {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: left;
}

.top-last-title {
    font-size: 2.2rem;
    font-weight: bolder;
    text-align: left;
    padding-bottom: 20px;
}

.top-news__inner {
    margin-top: 30px;
}

.top-news__item {
    margin-bottom: 40px;
}

.top-news__item-main {
    position: relative;
}

.top-news__item-line {
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
}

.top-news__item-line:before {
    content: ' ';
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -18px;
    transform: scaleY(1);
    transition: all 0.2s;
}

.top-news__item-line:hover:before {
    transform: scaleY(1.7);
    transition: all 0.2s;
}

.top-news__item-tema {
    font-size: 1.1rem;
    font-weight: bolder;
    margin: 10px 0;
}

.top-news__item-date {
    font-size: 1rem;
    color: #a4a4a4;
    opacity: 0.8;
    margin: 5px 0;
}

.top-news__item-title {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 3rem;
    font-weight: bolder;
    padding-bottom: 10px;
    margin: 0;
    line-height: 1.2;
}

.top-news__item-title:hover {
    text-decoration: none;
    color: white;
}

.top-news__item-title[href]::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.top-news__item-title-submain {
    font-size: 1.5rem;
}

.last-news-category {
    padding: 50px 0 10px;
}

.last-news-category__card {
    cursor: pointer;
    margin-bottom: 50px;
}

.last-news-category__card__inner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.1s linear;
    position: relative;
}

.last-news-category__card__inner:hover > .last-news-card__img img {
    box-shadow: -6px 6px 0 3px rgba(255, 23, 23, 1);
    transition: all 0.1s linear;
}

.last-news-card__img img {
    transition: all 0.1s linear;
}

.card-body {
    padding: 0;
    margin-left: 45px;
}

.card-header {
    display: flex;
    align-items: center;
    background-color: white;
    border: 0;
    padding: 0;
}

.card-category {
    font-size: 1.1rem;
    font-weight: bolder;
    margin: 10px 0;
    color: red;
}

.card-date {
    font-size: 1rem;
    color: #6d6d6d;
    opacity: 0.8;
    margin: 5px 20px;
}

.card-title {
    display: block;
    color: #202020;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 1.1;
}

.card-title:hover {
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #202020;
}

.card-title[href]::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.card-text {
    font-size: 1.2rem;
    opacity: 0.9;
    padding-bottom: 10px;
}

.pagination {
    padding: 0 0 30px;
}

.page-link {
    color: red;
    border: 1px solid red;
    font-weight: bolder;
}

.page-link:hover {
    border: 1px solid red;
    background-color: red;
    color: white;
}

.pagination > .active > a
{
    background-color: red !Important;;
    color: white;
    font-weight: bolder;
    border: solid 1px red !Important;
}

@media (min-width: 0px) and (max-width: 575.98px) {
    .last-news-category__card__inner {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



