.section-forum-name {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.forum-item__text {
    font-size: 1.2rem;
    padding: 0;
    color: white;
}

.forum-item__subtitle {
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 0;
    margin-bottom: 6px;
    margin-top: 20px;
}

.forum__inner {
    padding: 80px 0;
}

.card {
    margin-bottom: 25px;
    transition: all 0.2s linear;
    cursor: pointer;
}

.card:hover {
    background-color: #ff1616;
    color: white;
    transition: all 0.2s linear;
}

.card__inner {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.card-body {
    padding-left: 20px;
}

.card-img {
    width: 170px;
    height: 170px;
}

.card-img {
    width: 100%
}

.card-title {
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 1.4rem;
}

.card-text {
    color: inherit;
    font-size: 1.1rem;
    padding-top: 10px;
    text-decoration: none;
    text-align: justify;
}
