.info__item {
    width: 90%;
}

.card-info {
    border: none;
    padding: 20px;
    border-radius: 0;
}

.info__card-title {
    color: var(--bs-white);
    font-weight: bolder;
    font-size: 1.3rem;
    padding-bottom: 10px;
    text-align: center;
}

.info__card-title-dark-blue {
    color: var(--bs-primary);
}

.info__card-text {
    font-weight: normal;
    font-size: 1rem;
    color: var(--bs-white);
    text-align: justify;
}

.info__card-text-dark-blue {
    color: var(--bs-primary);
}

.btn-info {
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    margin: 40px auto 10px;
    border-radius: 30px;
    width: 90%;
    padding: 8px 10px;
}

.btn-info-modify_1 {
    border: 2px solid var(--bs-btn-border-color-white);
    color: var(--bs-btn-white);
    background-color: var(--bs-primary);
    transition: all 0.2s linear;
}

.btn-info-modify_1:hover {
    color: var(--bs-primary);
    border: 2px solid var(--bs-btn-border-color-white);
    background-color: var(--bs-btn-white);
    transition: all 0.2s linear;
}

.btn-info-modify_2 {
    border: 2px solid var(--bs-primary);
    color: var(--bs-primary);
    background-color: var(--bs-btn-white);
    transition: all 0.2s linear;
}

.btn-info-modify_2:hover {
    color: var(--bs-btn-white);
    border: 2px solid var(--bs-primary);
    background-color: var(--bs-primary);
    transition: all 0.2s linear;
}

.btn-info-modify_3 {
    border: 2px solid var(--bs-btn-border-color-white);
    color: var(--bs-btn-white);
    background-color: var(--bs-secondary);
    transition: all 0.2s linear;
}

.btn-info-modify_3:hover {
    color: var(--bs-secondary);
    border: 2px solid var(--bs-btn-border-color-white);
    background-color: var(--bs-btn-white);
    transition: all 0.2s linear;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .btn-info {
        width: 50%;
    }
}
