.partners__title {
    font-size: 2.5rem;
}

.partners__item {
    display: block;
    text-decoration: none;
    padding: 0 20px 40px;
}

.partners-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}

.partners-img-wrapper img {
    border: 2px solid var(--bs-grey);
    background-position: center;
    object-fit: cover;
    max-height: 150px;
}

.shadow-hover {
    transition: all 0.09s linear;
}

.partners__item:hover .shadow-hover {
    box-shadow: -12px 12px 0 -1px var(--bs-shadow-red);
    transition: all 0.09s linear;
}

@media (min-width: 0px) and (max-width: 575.98px) {
    .partners__title {
        font-size: 2rem;
    }
}


