:root {
    --swiper-image-ratio: 33.3%;
    --swiper-width: 50%;
    --swiper-inactive-scale: .85;
    --swiper-mobile-width: 90%;
    --swiper-mobile-inactive-scale: .95;
}

.swiper-container {
    padding: 80px 0;
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    height: calc(var(--swiper-width) * var(--swiper-image-ratio) / 100);
    overflow: hidden;
}

.swiper-wrapper {
    margin-left: 330px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: scale(1);
    transition: all 0.1s ease-in-out;
    overflow: hidden;
    text-align: center;
    font-size: 1.1rem;
}

.swiper-backface-hidden .swiper-slide {
    transform: scale(1) translateZ(0);
}

.swiper-slide.swiper-slide-active {
    z-index: 10;
    transform: scale(1.3) !important;
    opacity: 1 !important;
}

.swiper-backface-hidden .swiper-slide.swiper-slide-active {
    z-index: 10;
    transform: scale(1.3) translateZ(0) !important;
}

.swiper-slide .swiper-icon {
    display: none;
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 35px;
    right: 10px;
}

.swiper-slide.swiper-slide-active .swiper-icon {
    display: block;
}

.swiper-image {
    position: relative;
    overflow: hidden;
}

.moreInfo-speaker {
    width: 100%;
    height: 100%;
    background-color: var(--bs-grey);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    transform: translateY(100%);
    transition: all 0.15s linear;
}

.show {
    transform: translateY(0);
    transition: all 0.15s linear;
}

.swiper-slide.swiper-slide-active .close-more-info {
    background: transparent;
    border: none;
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
}

.swiper-image img {
    width: 300px;
    height: 300px;
    background-size: cover;
    border: none;
    display: block;
    background: var(--bs-grey);
}

.slider-text {
    text-align: right;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 25px;
    right: 20px;
    text-shadow: 2px 2px 0 black;
}

.swiper-slide.slider-text {
    text-align: right;
    right: 20px;
}

.swiper-slide.swiper-slide-active .slider-text {
    text-align: left;
    left: 25px;
}

.btn-speakers {
    font-weight: 800;
    font-size: 1rem;
    margin-top: 30px;
    background-color: var(--bs-btn-white);
    border: 2px solid var(--bs-btn-border-color-white);
    color: black;
    border-radius: 30px;
    padding: 7px 45px;
    transition: all 0.2s linear;
}

.btn-speakers:hover {
    color: var(--bs-btn-white);
    background-color: var(--bs-btn-red);
    border: 2px solid var(--bs-btn-border-color-red);
    transition: all 0.2s linear;
}

@media (min-width: 0px) and (max-width: 575.98px) {
    .swiper-wrapper {
        margin-left: 20px;
    }

    .swiper-slide img {
        width: 180px;
        height: 180px;
    }

    .slider-text {
        font-size: 0.8rem;
        bottom: 10px;
        right: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .swiper-wrapper {
        margin-left: 100px;
    }

    .swiper-slide img {
        width: 200px;
        height: 200px;
    }

    .slider-text {
        font-size: 0.9rem;
        bottom: 10px;
        right: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .swiper-wrapper {
        margin-left: 200px;
    }

    .swiper-slide img {
        width: 240px;
        height: 240px;
    }

    .slider-text {
        font-size: 1.2rem;
        bottom: 20px;
        right: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .swiper-wrapper {
        margin-left: 230px;
    }

    .swiper-slide img {
        width: 270px;
        height: 270px;
    }

    .slider-text {
        font-size: 1.3rem;
        bottom: 20px;
        right: 30px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .swiper-slide img {
        width: 300px;
        height: 300px;
    }

    .slider-text {
        font-size: 1.3rem;
        bottom: 20px;
        right: 30px;
    }
}
