.menu-item {
    position: relative;
    text-decoration: none;
    margin: 0 20px;
}

.menu-item::before {
    content: ' ';
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -0px;
    transform: scaleX(0);
    transition: 0.3s;
}

.menu-item:has(+ .dropdown-content:hover)::before, .menu-item:hover::before {
    transform: scaleX(1);
    transition: 0.25s;
}

.menu-item:hover {
    color: white;
}

.active-menu-item::before {
    content: ' ';
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -7px;
    transform: scaleX(1);
}

.navbar-toggler {
    margin-right: 60px;
}

.nav-logo {
    z-index: 1000;
}

.dropdown {
    position: static;
    display: inline-block;
    text-align: center;
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.dropdown-content__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 50px 150px 50px;
    margin-top: 1rem;
    background-color: #02385A;
}

.dropdown-content a {
    font-weight: bolder;
    text-align: start;
    font-size: 1.2rem;
    padding: 80px 20px 20px;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    display: block;
    width: 270px;
    height: 160px;
    background-color: #04ADC0;
    transition: all 0.1s linear;
}

.dropdown-content a:hover {
    background-color: red;
    transition: all 0.1s linear;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s;
}

.btn-input {
    color: white;
    font-weight: 800;
    font-size: 0.8rem;
    border-radius: 0;
    padding: 2px 15px;
    background-color: #cc0808;
    z-index: 1000;
    transition: all 0.2s linear;
}

.btn-input:hover {
    color: black;
    background-color: white;
    transition: all 0.2s linear;
}

.btn-stars {
    border: none;
    color: white;
    font-weight: 800;
    border-radius: 0;
    font-size: 0.8rem;
    letter-spacing: 2px;
    z-index: 1000;
    padding: 0 10px;
    transition: all 0.2s linear;
}

.btn-stars:hover {
    color: #a4a4a4;
    transition: all 0.2s linear;
}

.header__date {
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    margin: 0;
}

.header__title {
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    font-size: 4.3rem;
}

.header__subtitle {
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-bottom: 45px;
    text-transform: uppercase;
}

.header-card-text {
    color: white;
    font-weight: 800;
    font-size: 1.3rem;
    position: absolute;
    z-index: 1000;
    letter-spacing: 2px;
    left: 20px;
    bottom: 20px;
    padding: 0;
    text-align: left;
    text-shadow: 2px 2px 0 #000000;
}

.shadow-custom > .card-img img, .shadow-custom-blue > .card-img img  {
    transition: all 0.1s linear;
    box-shadow: none;
}

.shadow-custom:hover > .card-img img {
    box-shadow: -7px 7px 0 3px rgb(206, 11, 11);
    transition: all 0.1s linear;
}

.sshadow-custom-blue:hover > .card-img img {
    box-shadow: -7px 7px 0 3px rgb(38, 151, 216);
    transition: all 0.1s linear;
}

.card-img {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.card-img img {
    background-size: cover;
    position: center;
    width: 300px;
    height: 230px;
}

.big-foto img {
    background-size: cover;
    position: center;
    width: 630px;
    height: 510px;
}

@media (min-width: 0px) and (max-width: 575.98px) {
    .dropdown-content__inner {
        display: flex;
        flex-wrap: wrap;
        padding: 60px 40px 90px;
    }

    .header__title {
        font-size: 2.8rem;
    }

    .header-img {
        width: 350px;
        height: 280px;
        margin: 20px 0;
    }

    .btn-stars {
        z-index: 0;
    }

    .btn-input {
        z-index: 0;
    }

    .header-card-text {
        font-size: 1.4rem;
        left: 120px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .header__title {
        font-size: 2.9rem;
    }

    .header-img {
        width: 370px;
        height: 300px;
    }

    .btn-stars {
        z-index: 0;
    }

    .btn-input {
        z-index: 0;
    }

    .header-card-text {
        font-size: 1.4rem;
        left: 200px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .btn-stars {
        z-index: 0;
    }

    .btn-input {
        z-index: 0;
    }

    .header-card-text {
        font-size: 1.1rem;
        left: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .menu-item {
        font-size: 1.1rem;
        margin: 0 10px;
    }

    .btn-input {
        font-size: 0.9rem;
    }

    .btn-stars {
        font-size: 0.9rem;
    }

    .dropdown-content a {
        width: 270px;
        height: 150px;
    }

    .header-card-text {
        font-size: 1.2rem;
    }
}


