.news {
    padding: 40px 0;
}

.news__title {
    color: red;
    text-align: center;
    font-weight: bolder;
    font-size: 2.1rem;
}

.news__subtitle {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: 1.6rem;
}

.news__item {
    padding: 0 10px;
    margin-bottom: 60px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
}

.news__item:before {
    content: ' ';
    width: 100%;
    height: 4px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -18px;
    transform: scaleY(1);
    transition: all 0.2s;
}

.news__item:hover:before {
    transform: scaleY(1.7);
    transition: all 0.2s;
}

.news__item-date {
    margin: 20px 0 0;
    padding: 0;
    text-align: left;
    font-size: 1.1rem;
    color: #2f2f2f;
}

.news__item-title {
    font-weight: bolder;
    font-size: 1.3rem;
    padding-top: 0;
    margin-top: 0;
}

.news__item-text {
    text-align: justify;
    font-size: 1.3rem;
}

.news__img {
    margin-bottom: 40px;
}

.all-news-link {
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    margin: 30px auto 0;
    text-align: center;
    font-weight: bolder;
    width: 20%;
    background-color: #04ADC0;
    color: white;
    border: 0;
    border-radius: 30px;
    padding: 12px 30px;
    transition: all 0.2s linear;
}

.all-news-link:hover {
    background-color: #02385A;
    color: white;
    transition: all 0.2s linear;
}

@media (min-width: 0px) and (max-width: 575.98px) {
    .all-news-link {
        width: 50%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .all-news-link {
        width: 50%;
    }
}
